<div class="container">
<br>
  <h1>My Bookings</h1>
  <br>
    <% @bookings.each do |booking| %>
    <%= link_to animal_path(booking.animal_id) do %>

  <div class="container individual-booking">
      <p class="bookings-p">Animal name: <%= booking.animal.name %></p>
      <hr>
      <p class="bookings-p">Arrival date: <%= booking.arrival_date %></p>
      <p class="bookings-p">Departure date: <%= booking.end_date %></p>
    <%= link_to "Edit Order", root_path, class:"btn-flat index-btn"%>
    <%= link_to "Delete Order", root_path, class:"btn-flat index-btn"%>
      <div class="container image-container">
        <%# ANIMAL PICTURE %>
        <%= cl_image_tag booking.animal.images[0].key %>
      </div>
    </div>
    <% end %>
    <% end %>
</div>
