<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-3">
  <div class="container-fluid ms-3">
      <%= link_to "<i class='fa-solid fa-paw'>ExoPetNet</i>".html_safe, root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= form_with url: animal_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control me-2",
    placeholder: "Find your dream pet"
  %>
  <%= submit_tag "Search", class: "btn btn-light" %>
<% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/animals">All Animals</a>
        </li>
        <li class="nav-item">
        <div class="nav-link">
          <strong>Hi</strong> <%= current_user.username if user_signed_in? %>
        </div>
        </li>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle me-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/random" />
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", "#", class: "dropdown-item"  %>
            <%= link_to "Add Animal", new_animal_path, class: "dropdown-item"  %>
            <%= link_to "All Animals", animals_path, class: "dropdown-item"  %>
            <%= link_to "My Bookings", user_bookings_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
        </li>
        <% else %>
        <li class="nav-item dropdown">
          <div class="d-flex flex-direction-row">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-success mx-2" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success text-light" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
