
<br>
<%= render 'carousel' %>
<br>
<div class="cardstitle-container">
  <h1>See How ExoPetNet Can Help You</h1>
</div>
<br>
<%= render 'cardbanner' %>
<br>
<%= render 'jumboabout' %>

<br>
<%= link_to "Add an Animal", new_animal_path %>
<%= link_to "See all my Animals", animals_path %>

