<div class="new-animal-card my-5">
  <div class="container">

  <h1>Add an animal</h1>

  <%= simple_form_for [@animal] do |f|  %>
    <%= f.input :name %>
    <%= f.input :specie %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :origin %>
    <%= f.input :stock %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
